@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');


body{
    background-color: #000000;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}


.imagenes {
    width: 100vw; 
    height: auto;
}

.imagenSection {
    width: 550px; 
    height: auto;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
/*     height: 15vh; */
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 40px;
}









.containerInterno {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    flex-direction: row-reverse;
    max-width: 1100px;
    margin: 0 auto;
/*     margin-bottom: 60px;   */
    /* margin-top: 40px; */
    height: auto;
}



.title {
    font-family: 'Trade Gothic LT Pro', sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 10px;
}



.subtitleIzquierdo {
    font-family: 'Trade Gothic LT Pro', sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: white;
    text-align: right;
    margin: 0px;
}

.subtitleDerecho {
    font-family: 'Trade Gothic LT Pro', sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: white;
    text-align: left;
    margin: 0px;
}


.paragraphs {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 0px;
    line-height: 1.6;
}


.paragraphs-dos {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
    line-height: 1.6;
    
}


.paragraphsIzquierdo {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-align: right;
    margin: 0px;
    line-height: 1.6;
}


.paragraphsDerecho {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-align: left;
    margin: 0px;
    line-height: 1.6;
}




.tituloIzquierdo {
    margin-right: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tituloDerecho {
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.resaltado {
    color: #FFA900; 
    line-height: 0.5; /* interlineado */
  }





@media (max-width: 460px) {
    .container {
        flex-direction: column;
        margin-top: 45px;
        margin-bottom: 45px;
        margin-left: 15px;
        margin-right: 15px;
        max-width: 100%;
        box-sizing: border-box;
    }
}


@media (max-width: 460px) {
    .containerInterno {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 100%;
        box-sizing: border-box;
    }
}



@media (max-width: 460px) {
    .imagenes {
        flex-direction: column;
        margin: 0px;
        max-width: 100%;
        box-sizing: border-box;
    }
}




@media (max-width: 460px) {
    .imagenSection {
        max-width: 100%;
        box-sizing: border-box;
        order: 2;
    }
}




@media (max-width: 460px) {
    .paragraphsIzquierdo, .paragraphsDerecho, .paragraphs {
        flex-direction: column;
        text-align: left;
        font-size: 14px;
    }
}


@media (max-width: 460px) {
    .subtitleIzquierdo, .subtitleDerecho {
        flex-direction: column;
        text-align: left;
        font-size: 28px;
    }
}


@media (max-width: 460px) {
    .resaltado {
        flex-direction: column;
        text-align: left;
        font-size: 28px;
    }
}



@media (max-width: 460px) {
    .tituloIzquierdo, .tituloDerecho {
        margin: 15px;
        max-width: 100%;
        box-sizing: border-box;
        order: 1;
    }
}




.container-general {
    background-color: white;
}


.container-blanco {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding: 45px 0 0 0;
}

.container-feature {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 60px;
    padding: 0 0 45px 0;
}


.title-dos {
    font-family: 'Trade Gothic LT Pro', sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px;
}


.paragraphs-blanco {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
    line-height: 1.6;
    max-width: 1100px;
    padding: 0 15px 0 15px;
}

.paragraphs-feature {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 0px;
    line-height: 1.6;
    max-width: 1100px;
}

.feature-section {
    padding: 0 45px 0 45px;
}

.iconos, .iconouno, .iconodos, .iconotres {
    width: 29px;
    margin: 25px 0 10px 0;
}

h2 {
    font-family: 'Trade Gothic LT Pro', sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 15px 0 0 0;
}

.resaltado-dos {
    color: #FFA900; 
    line-height: 0.5; /* interlineado */
  }

.imagenpc {
    width: 150px; 
    height: auto;
}


@media (max-width: 750px) {
    .container-feature {
        flex-direction: column;
        margin-bottom: 45px;
        max-width: 100%;
        box-sizing: border-box;
    }
}

















